---
layout: default
---

<div class="home">
    <div class="window white">
        <h1>Frank Lee</h1>
        <img src="https://pixels-commissions.s3.eu-west-1.amazonaws.com/%2310%20franklee%202.png" height="100" width="100"
            align="left" class="avatar">
        <p align="left">I’m Frank - a product lead, startup enthusiast, and newb programmer based in New York City. I'm
            optimistic about how
            technology and building things fast can improve the world. I also love geeking out about marathon training,
            hip-hop music, streetwear + sneakers, and cocktail
            mixing.</p>
        <br>
        <p>FYI: this site has terrible styling on purpose because my body is in the present but my mind is stuck in the
            2000's with <a href="https://www.youtube.com/watch?v=Rg4UqdtDMXI" target="_blank">Kelly Rowland messaging Nelly
                through Excel on mobile.</a></p>
    </div>
    
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}


    {% if site.paginate %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}


    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {{ post.description }}
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <div class="pager">
        <ul class="pagination">
            {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{
                    paginator.previous_page }}</a></li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
            <li>
                <div class="current-page">{{ paginator.page }}</div>
            </li>
            {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a>
            </li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
        </ul>
    </div>
    {%- endif %}

    {%- endif -%}

</div>